<div class="banner-top container-fluid" id="home">
    <!-- header -->
    <header>
        <div class="row">
            <div class="col-md-3 top-info text-left mt-lg-4">
                <h6>Need Help</h6>
                <ul>
                    <li>
                        <i class="fas fa-phone number-phone mt-3"></i> <strong> Call</strong>
                    </li>
                    <a href="tel://9847921072" style="color: black;"><strong> 9847921072 </strong></a>
                </ul>
            </div>
            <div class="col-md-6 logo-w3layouts text-center">
                <h1 class="logo-w3layouts">
                    <a class="navbar-brand" routerLink="/">Suvarna </a>
                    <h5><a class="navbar-brand text-center " style="font-size: 30px;padding-left: 40px;">Agencies</a>
                    </h5>
                </h1>

            </div>

            <div class="col-md-3 top-info-cart text-right mt-lg-4">
                <ul class="cart-inner-info">
                    <li class="button-log" *ngIf="!(authService.currentUser | async)">
                        <a class="btn-open" routerLink="/login">
                            <span class="fa fa-user" aria-hidden="true"></span>
                        </a>
                    </li>
                    <li class="button-log" *ngIf="authService.currentUser | async as user">
                        <span class="mr-2 font-weight-bold" style="font-size: 14px;">Welcome, {{ user.name }}</span>
                        <button class="btn btn-link text-dark p-0" (click)="logout()" style="text-decoration: none;">
                            <span class="fas fa-sign-out-alt" aria-hidden="true"></span> Logout
                        </button>
                    </li>
                    <li class="galssescart galssescart2 cart cart box_1">
                        <button class="top_googles_cart" type="button">
                            My cart
                            <i class="fas fa-cart-arrow-down"></i>
                            <span class="badge badge-light" *ngIf="(cartItemCount$ | async) as count">{{ count }}</span>
                        </button>
                    </li>
                    <div class="search ">
                        <div class="mobile-nav-button">
                            <button id="trigger-overlay" type="button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <!-- open/close -->
                        <div class="overlay overlay-door">
                            <button type="button" class="overlay-close">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            <form action="#" method="post" class="d-flex">
                                <input class="form-control" type="search" placeholder="Search here..." required="">
                                <button type="submit" class="btn btn-primary submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>

                        </div>
                        <!-- open/close -->
                    </div>
                </ul>
            </div>
        </div>


        <!-- </div> -->

        <label class="top-log mx-auto"></label>
        <nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

            <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">

                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-mega mx-auto">
                    <li class="nav-item active">
                        <a class="nav-link ml-lg-0" routerLink="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/shop">All Products</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu mega-menu ">
                            <h3 class="tittle-w3layouts-sub text-center mt-3"> <strong> POWER TOOLS </strong> </h3>
                            <li>
                                <div class="row">
                                    <div class="col-md-4 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub"> CUTTER Machines </h5>
                                        <ul>
                                            <li class="media-mini mt-3">
                                                <a routerLink="/shop">Bosch</a>
                                            </li>
                                            <li class="">
                                                <a routerLink="/shop"> Makitha</a>
                                            </li>
                                            <li>
                                                <a routerLink="/shop">DCA</a>
                                            </li>

                                        </ul>

                                    </div>
                                    <div class="col-md-4 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub"> DRILL Machines </h5>
                                        <ul>

                                            <li class="">
                                                <a routerLink="/shop"> Makitha</a>
                                            </li>
                                            <li>
                                                <a routerLink="/shop">DCA</a>
                                            </li>

                                        </ul>

                                    </div>

                                    <div class="col-md-4 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub"> GRINDER Machines </h5>
                                        <ul>
                                            <li class="media-mini mt-3">
                                                <a routerLink="/shop">Dewalt</a>
                                            </li>


                                        </ul>

                                    </div>
                                    <div class="col-md-4 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub"> Router Machines </h5>
                                        <ul>
                                            <li class="">
                                                <a routerLink="/shop"> Endico</a>
                                            </li>

                                        </ul>

                                    </div>
                                    <div class="col-md-4 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub"> Blower Machines </h5>
                                        <ul>

                                            <li class="">
                                                <a routerLink="/shop"> Planet Power</a>
                                            </li>

                                        </ul>

                                    </div>


                                </div>

                                <div class="col-lg-6 bottom-sub-grid text-center">
                                    <p>
                                        <a routerLink="/shop" class="btn btn-sm animated-button gibson-three mt-4">View
                                            More..</a>
                                    </p>
                                </div>
                                <hr>

                            </li>

                        </ul>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            SERVICE
                        </a>
                        <ul class="dropdown-menu mega-menu  ">
                            <h2 class="tittle-w3layouts-sub mt-3 text-center"> Swaraj Electricals </h2>
                            <li>
                                <div class="row text-center">
                                    <div class="col-md-6 media-list span4 text-left">
                                        <h5 class="tittle-w3layouts-sub "> Available services are </h5>
                                        <ul>
                                            <li class="media-mini mt-3">
                                                <a routerLink="/contact">Drill service</a>
                                            </li>
                                            <li class="">
                                                <a routerLink="/contact"> Cutter service</a>
                                            </li>
                                            <li>
                                                <a routerLink="/contact">Grinder service</a>
                                            </li>
                                            <li>
                                                <a routerLink="/contact">Blower service</a>
                                            </li>
                                            <li>
                                                <a routerLink="/contact">Router service</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <hr>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact">Contact</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>