/* Skeleton Loader */
@keyframes shimmer {
    0% { background-position: -468px 0; }
    100% { background-position: 468px 0; }
}

.saved-upi-skeleton {
    .skeleton-header, .skeleton-card-ui {
        background: #f6f7f8;
        background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
        background-repeat: no-repeat;
        background-size: 800px 104px;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: shimmer;
        animation-timing-function: linear;
        border-radius: 6px;
    }

    .skeleton-header {
        height: 28px;
        width: 30%;
    }
    
    .skeleton-card-ui {
        height: 180px;
        width: 100%;
        max-width: 380px;
        border-radius: 12px;
    }
}
