<footer class="py-lg-5 py-3" style="padding:20px;">
    <div class="container-fluid px-lg-5 px-3">
        <div class="row footer-top-w3layouts">
            <div class="col-lg-3 footer-grid-w3ls">
                <div class="footer-title">
                    <h3>About Us</h3>
                </div>
                <div class="footer-text">
                    <p>We here deals with both sales and service of power tools. <br>Best quality brands are
                        provided here based on needs booking are accepted.</p>
                    <ul class="footer-social text-left mt-lg-4 mt-3">

                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-twitter"></span>
                            </a>
                        </li>

                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-linkedin-in"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#">
                                <span class="fab fa-instagram"></span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 footer-grid-w3ls">
                <div class="footer-title">
                    <h3>Get in touch</h3>
                </div>
                <div class="contact-info">
                    <h4>Location :</h4>
                    <p>Kakkad road, South bazar, kannur-670002</p>
                    <div class="phone">
                        <h4>Contact :</h4>
                        <p>Phone :<a href="tel://9847921072"> 9847921072 </a></p>
                        <p>Email :
                            <a style="font-size: 13px;"
                                href="mailto:sunilkumar1705&#64;gmail.com">sunilkumar1705&#64;gmail.com</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 footer-grid-w3ls">
                <div class="footer-title">
                    <h3>Quick Links</h3>
                </div>
                <ul class="links">
                    <li>
                        <a routerLink="/">Home</a>
                    </li>
                    <li>
                        <a routerLink="/about">About</a>
                    </li>
                    <li>
                        <a routerLink="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 footer-grid-w3ls">
                <div class="footer-title">
                    <h3>Sign up for more information</h3>
                </div>
                <div class="footer-text">
                    <p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
                    <form action="#" method="post">
                        <input class="form-control" type="email" name="Email" placeholder="Enter your email..."
                            required="">
                        <button class="btn1">
                            <i class="far fa-envelope" aria-hidden="true"></i>
                        </button>
                        <div class="clearfix"> </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="copyright-w3layouts mt-4">
            <p class="copy-right text-center ">&copy; 2021 Suvarna Agencies. All Rights Reserved | Designed by <a
                    href="https://github.com/Vyshnavc7"> C.Vyshnav </a> <br>
                Design by<a href="http://w3layouts.com/"> W3layouts </a>
            </p>
        </div>
    </div>
</footer>